# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env


# Ignore log files
*.log

# Ignore build output
build/
dist/

# Ignore package lock files
package-lock.json
yarn.lock


